<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(i){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= i %></p>
        </div>
        <% }); %>
        <form class="item" action="/" method="post">
            <input type="text" placeholder="Add Item" name="newItem" autocomplete="off" required>
            <button type="submit">+</button>
        </form>
    </div>




    

</body>

</html>